<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/images/idosos/idoso-computador.jpg"
        class="d-block w-100"
        alt="Idosa de branco mexendo no computador"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Nunca é tarde para apender novas habilidades</h3>
        <p>Encontre cursos de tecnologia especias para a terceira idade</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="/assets/images/idosos/idoso-varal.jpg"
        class="d-block w-100"
        alt="idoso estendendo roupa no varal"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Seja útil</h3>
        <p>Encontre trabalhos voluntários para servir a sua comunidade</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="/assets/images/idosos/idoso-yoga.jpg"
        class="d-block w-100"
        alt="Idosos fazendo youga em um parque"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Atividade de lazer ao ar livre</h3>
        <p>Passe o tempo em meio a natureza e faça novos amigos</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
