<div class="card my-3" style="width: 18rem">
  <img
    src="/assets/images/idosos/idoso-corrida.jpeg"
    class="card-img-top"
    alt="Idoso participando de uma corrida"
  />
  <div class="card-body">
    <h5 class="card-title">Atividade</h5>
    <p class="card-text">
      Descriçao atividade. Descriçao atividade.Descriçao atividade. Descriçao
      atividade. Descriçao atividade.
    </p>
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#cardModal"
      class="btn btn-info"
    >
      Info
    </button>
  </div>
</div>

<div class="modal" tabindex="-1" id="cardModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atividade</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          src="/assets/images/idosos/idoso-corrida.jpeg"
          class="card-img-top"
          alt="Idoso participando de uma corrida"
        />

        <p>
          Descriçao atividade. Descriçao atividade.Descriçao atividade.
          Descriçao atividade. Descriçao atividade.Descriçao atividade.
          Descriçao atividade. Descriçao atividade. Descriçao atividade.
          Descriçao atividade. Descriçao atividade. Descriçao
          atividade.Descriçao atividade. Descriçao atividade. Descriçao
          atividade.
        </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Dia Semana</th>
              <th scope="col">Horário</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>02/11/2023</td>
              <td>Quinta-feira</td>
              <td>09:00h</td>
            </tr>
            <tr>
              <td>11/11/2023</td>
              <td>Sábado</td>
              <td>07:00h</td>
            </tr>
            <tr>
              <td>15/11/2023</td>
              <td>Quarta-feira</td>
              <td>07:00h</td>
            </tr>
          </tbody>
        </table>

        <h5>Localização</h5>

        <img src="/assets/images/maps.png" alt="mapa" style="max-width: 100%" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary">Entrar em contato</button>
      </div>
    </div>
  </div>
</div>
