<nav class="navbar navbar-expand-lg bg-primary-subtle mx-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">3Best</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activities">Atividades</a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <button type="button" class="btn" routerLink="login">Logar</button>
            <button
              type="button"
              class="btn dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="login">Logar</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" routerLink="signin">Cadastrar</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="d-flex">
        <button
          type="button"
          class="whats-btn btn btn-primary d-flex flex-row align-items-center"
        >
          <img
            src="/assets/images/whatsapp-icon.png"
            alt=""
            width="30px"
            height="30px"
          />
          <div class="ms-1">Contato</div>
        </button>
      </div>
    </div>
  </div>
</nav>
