<section
  class="d-flex flex-column align-items-center justify-content-center py-5 bg-body-secondary p-3"
>
  <h1 class="mb-5">Entre em sua conta!</h1>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Endereço de Email</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            Seu email não será compartilhado com ningém.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
          <a id="emailHelp" class="form-text"> Esqueceu sua senha? </a>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Salvar email e senha</label
          >
        </div>
        <a type="" class="btn btn-primary" href="home">Entra</a>
      </form>
    </div>
  </div>
  <a class="form-text" href="signin"> Não tem conta? cadastre-se aqui. </a>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</section>
