<header>
  <app-carousel></app-carousel>
</header>
<section
  class="d-flex flex-column align-items-center justify-content-center py-5 text-bg-dark p-3"
>
  <h1 class="h1 text-xxl">Bem vindo ao 3Best</h1>
  <p class="h3">Encontre atividades para terceira idade perto de você!</p>
</section>

<section
  class="d-flex flex-column align-items-center justify-content-center py-5 bg-body-secondary p-3"
>
  <h1 class="mb-5">Atividade perto de você</h1>
  <div class="cards row">
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
    <app-card class="col d-flex justify-content-center"></app-card>
  </div>
</section>
